radmc3d
*~
*.bak
*.o
*.mod
*.f90_*
*.f_*
*.F_*
*.cc_*
*.inp
!dustk*.inp
!dustopac_*.inp
!molecule*.inp
*.uinp
*.binp
*.used
*.out
*.uout
*.bout
*.dat
*.udat
*.bdat
*.aux
*.out
*.log
*.bbl
*.brf
*.blg
*.toc
*.dvi
*.fig_*
*.pyc
*.py_*
*.pro_*
*.zip
#*
.#*
test*
.DS_Store
models/
!python/radmc3dPy/radmc3dPy/models
TT*
tt*
selftest
OLDSTUFF/
src_*
README_PRIVATE
build/
__pycache__/
python/radmc3dPy/build/
temp/
examples_quarantaine/
*.pptx
manual/sphinx/_build/doctrees/
*.sty
